<h2><%= @article.title %></h2>
<p>Published 2016-05-24</p>

<%= link_to 'Add comment', new_article_comment_path(@article) %>
<% unless @article.comment.empty? %>
  <h4><%= @article.title %>´s comments</h4>

  <ul>
    <% @article.comment.each do |comment| %>
      <li><%= comment.comment %></li>
      <li><%= comment.email %></li>
    <% end %>
  </ul>
<% end %>
