<h1>Our Articles</h1>
<ul>
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title , article_path(article) %><br />
    <%= article.content %>
    <p>Written by <%= article.author %> at 2016-12-15</p>
    <p>Comments for this article</p>
    <% article.comment.each do |cont| %>
    <%= cont.comment %><br />
    <%= cont.email %><br />
    <% end %><br />
  </li>
  <% end %>
</ul>
